---
import { dateToString } from "../../utils/date";
import PostContent from '../../components/PostContent.astro'
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";

const { slug } = Astro.params;

const baseUrl = Astro.url.origin;
const response = await fetch(`${baseUrl}/api/blog?source=blog_data&id=${slug}`);
const data = await response.json();
const post = data;
---

<Layout>
    <Header />
    <div class="blog-container wrap anim-fade-slide-in">
        <div class="wrapper">
            <p class="gray">{ dateToString(post.date) }</p>
            <PostContent body={post.body} />
            <div style="height: 256px;" />
        </div>
    </div>
</Layout>

<style>
.blog-container{
    margin: auto;
}
.blog-container .wrapper{
    margin: auto;
    width: 55%;
    padding-top: 42px;
}
.blog-container .text{
    line-height: 1.8;
}
@media screen and (max-width: 960px) {
    .blog-container .wrapper{
        padding-top: 20px;
        width: 100%;
    }
}
</style>