---
import { privacy } from "../data/privacy";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout>
    <Header />
    <div class="policy-container wrap anim-fade-in">
        <div class="col gap-8 panel panel-padding">
            <div class="col gap-8">
                <h2>Политика конфиденциальности</h2>
                <p class="gray">scanhand.ru</p>
            </div>
            {
                privacy.map((data) => (
                    <div class="border" />
                    <div class="col gap-12">
                        <h4>{ data.title }</h4>
                        <p class="gray">{ data.text }</p>
                    </div>
                ))
            }
        </div>
        <div style="height: 128px;" />
    </div>
</Layout>

<style>
.policy-container{
	margin: auto;
	flex-direction: column;
    box-sizing: border-box;
    padding-top: 20px;
}
@media (max-width: 768px) {
    .panel {
        background: none;
        border: 0;
        box-shadow: none;
        overflow: hidden;
        border-radius: 0;
    }
    .panel-padding{
        padding: 0;
    }
}
</style>