---
import { dateToString } from "../utils/date";

const { title, date, tags, link } = Astro.props;
---

<a href={link} class="blog-post">
    <article class="container panel">
        <h4>{title}</h4>
        <p class="gray">{dateToString(date)}</p>
    </article>
</a>

<style>
.blog-post{
    width: 100%;
    height: auto;
}
.blog-post .container{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 32px 36px;
    transition: background-color 0.5s ease;
}
.blog-post .container:hover{
    background-color: var(--color-surface-primary);
}
</style>